<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="JG" class="com.path.Person">
		<property name="id" value="1" />
		<property name="name" value="Gosling" />

	</bean>
	<bean id="AG" class="com.path.Person">
		<constructor-arg index="0" value="2" />
		<constructor-arg index="1" value="AGay" />
		<constructor-arg index="2" ref="addr" />
	</bean>
	<bean id="addr" class="com.path.Address">
		<constructor-arg index="0" value="76" />
		<constructor-arg index="1" value="MHOw" />
		<constructor-arg index="2" value="453441" />
	</bean>
	<bean id="DR" class="com.path.Person">
		<constructor-arg type="int" value="3" />
		<constructor-arg type="java.lang.String"
			value="Ritchie" />
		<constructor-arg type="com.path.Address" ref="addr" />


	</bean>
	<bean id="SM" class="com.path.Person">
		<constructor-arg index="0" value="4" />
		<constructor-arg index="1" value="shireen" />
		<constructor-arg index="2">
			<bean id="add" class="com.path.Address">
				<constructor-arg index="0" value="76" />
				<constructor-arg index="1" value="MHOw" />
				<constructor-arg index="2" value="453441" />
			</bean>
		</constructor-arg>
	</bean>

	<bean id="child" class="com.path.VIP" parent="JG">
		<property name="security" value="Z++" />
	</bean>

	<bean id="list" class="com.path.listDemo">
		<constructor-arg index="0">
			<list>
				<value>one</value>
				<value>two</value>
				<value>Three</value>
			</list>
		</constructor-arg>
	</bean>
	<bean id="set" class="com.path.setDemo">
		<constructor-arg index="0">
			<set>
				<value>one</value>
				<value>two</value>
				<value>Three</value>
				<value>Three</value>
			</set>
		</constructor-arg>
	</bean>
	<bean id="map" class="com.path.mapDemo">
		<constructor-arg index="0">
			<map>
				<entry key="1" value="one" />
				<entry key="2" value="two" />
				<entry key="3" value="three" />
			</map>
		</constructor-arg>
	</bean>
</beans>